# Compiled class file
*.class
.ipynb_checkpoints

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.pkl

# 特定文件
# *.iml
# workspace.xml

# 文件夹
.idea/
lisen_pytorch/chapter1/data/
lisen_pytorch/chapter1/output/
